{% extends "base.html" %}

{%load staticfiles%}

{% block content %}
<strong>
    {% if messages %}
    <div class="alert alert-info">
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  </strong>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Добро пожаловать на Тесты</h1>
    <p class="lead">Этот проет был создан с целью прохождения тестов</p>
    <hr class="my-4">
    <p>

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Тесты
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
        {% for test in my_test %}
      <li>
          <a href="{% url 'tests:test_detal' test.id %}">{{ test }}</a>
      </li>
    {% endfor %}
  </div>
</div>
      <button type="button" class="btn btn-light"><a href="{% url 'tests:add_test'%}">Добавить тест</a></button>
  </div>
</div>

{% endblock content %}